AppHotel/ServicesTestHotel/Connected Services/ServiceReservation/ServicesHotel.util.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicesHotel.util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicesHotel.util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Confirm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Confirm" nillable="true" type="tns:Confirm" />
</xs:schema>