AppHotel/ServicesTestHotel/Connected Services/ServiceReservation/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceReservation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServicesHotel" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServicesHotel.util" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceReservation_UpdateReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReservation" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_UpdateReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_ListReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:ListReservation" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_ListReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_CreateReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReservation" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_CreateReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_DeleteReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReservation" />
  </wsdl:message>
  <wsdl:message name="IServiceReservation_DeleteReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceReservation">
    <wsdl:operation name="UpdateReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReservation/UpdateReservation" message="tns:IServiceReservation_UpdateReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReservation/UpdateReservationResponse" message="tns:IServiceReservation_UpdateReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReservation/ListReservation" message="tns:IServiceReservation_ListReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReservation/ListReservationResponse" message="tns:IServiceReservation_ListReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReservation/CreateReservation" message="tns:IServiceReservation_CreateReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReservation/CreateReservationResponse" message="tns:IServiceReservation_CreateReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReservation/DeleteReservation" message="tns:IServiceReservation_DeleteReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReservation/DeleteReservationResponse" message="tns:IServiceReservation_DeleteReservation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceReservation" type="tns:IServiceReservation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateReservation">
      <soap:operation soapAction="http://tempuri.org/IServiceReservation/UpdateReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListReservation">
      <soap:operation soapAction="http://tempuri.org/IServiceReservation/ListReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReservation">
      <soap:operation soapAction="http://tempuri.org/IServiceReservation/CreateReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReservation">
      <soap:operation soapAction="http://tempuri.org/IServiceReservation/DeleteReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceReservation">
    <wsdl:port name="BasicHttpBinding_IServiceReservation" binding="tns:BasicHttpBinding_IServiceReservation">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServicesHotel/ServiceReservation/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>