AppHotel/ViewHotel/Connected Services/ServiceReservation/ServiceReservation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59838/ServiceReservation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceHotel" />
  <xs:import schemaLocation="http://localhost:59838/ServiceReservation.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceHotel.util" />
  <xs:element name="UpdateReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceHotel" minOccurs="0" name="reservationBE" nillable="true" type="q1:ReservationBE" />
        <xs:element minOccurs="0" name="reservationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceHotel.util" minOccurs="0" name="UpdateReservationResult" nillable="true" type="q2:Confirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListReservation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceHotel" minOccurs="0" name="ListReservationResult" nillable="true" type="q3:ArrayOfReservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceHotel" minOccurs="0" name="reservationBE" nillable="true" type="q4:ReservationBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceHotel.util" minOccurs="0" name="CreateReservationResult" nillable="true" type="q5:Confirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reservationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceHotel.util" minOccurs="0" name="DeleteReservationResult" nillable="true" type="q6:Confirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>