AppHotel/ViewHotel/Connected Services/ServiceReservation/ServiceReservation3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceHotel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceHotel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReservationBE">
    <xs:sequence>
      <xs:element name="admissionDate" type="xs:dateTime" />
      <xs:element name="customerId" type="xs:int" />
      <xs:element name="customerName" nillable="true" type="xs:string" />
      <xs:element name="departureDate" nillable="true" type="xs:dateTime" />
      <xs:element name="hotelId" type="xs:int" />
      <xs:element name="hotelName" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="roomId" type="xs:int" />
      <xs:element name="roomName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationBE" nillable="true" type="tns:ReservationBE" />
  <xs:complexType name="ArrayOfReservationBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservationBE" nillable="true" type="tns:ReservationBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservationBE" nillable="true" type="tns:ArrayOfReservationBE" />
</xs:schema>