AppHotel/ViewHotel/Connected Services/ServiceReservation/ServiceReservation3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceHotel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceHotel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReservationBE">
    <xs:sequence>
      <xs:element name="admissionDate" type="xs:dateTime" />
      <xs:element name="customerId" type="xs:int" />
      <xs:element name="departureDate" type="xs:dateTime" />
      <xs:element name="hotelId" type="xs:int" />
      <xs:element name="roomId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationBE" nillable="true" type="tns:ReservationBE" />
  <xs:complexType name="ArrayOfReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservation" nillable="true" type="tns:ArrayOfReservation" />
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmissionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartureDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hotel" nillable="true" type="tns:Hotel" />
      <xs:element minOccurs="0" name="HotelId" type="xs:int" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
      <xs:element minOccurs="0" name="RoomId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentNumber" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="SurName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityRoom" type="xs:int" />
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="phone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hotel" nillable="true" type="tns:Hotel" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumberRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="TypeRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
</xs:schema>